# Copyright (C) 2025 Microchip Technology Inc. and its subsidiaries
#
# SPDX-License-Identifier: MIT

CONFIG_SAMA7G5=y
CONFIG_CPU_CLK_800MHZ=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6NB12I=y
CONFIG_MEM_CLOCK_533=y
CONFIG_DEBUG=y
CONFIG_NANDFLASH=y
# CONFIG_NAND_TIMING_MODE is not set
# CONFIG_NAND_DMA_SUPPORT is not set
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="CONFIG_ARG_CONSOLE CONFIG_ARG_MTD CONFIG_ARG_ROOT CONFIG_ARG_ROOTFSTYPE CONFIG_ARG_RW CONFIG_ARG_ROOTWAIT"
CONFIG_ARG_CONSOLE="earlycon console=ttyS0,115200"
CONFIG_ARG_MTD=" mtdparts=atmel_nand:256k(reserved0),1M(uboot),256k(reserved1),512k(dtb),6M(kernel),-(rootfs)"
CONFIG_ARG_ROOT=" ubi.block=0,rootfs_a root=/dev/ubiblock0_0"
CONFIG_ARG_ROOTFSTYPE=" rootfstype=squashfs ubi.mtd=rootfs"
CONFIG_ARG_RW=" ro"
CONFIG_ARG_ROOTWAIT=" rootwait"
CONFIG_IMAGE_NAME="zImage"
# CONFIG_REDIRECT_ALL_INTS_AIC is not set
CONFIG_TZC400=y
CONFIG_FLEXCOM10=y
CONFIG_FLEXCOM10_IOSET=2
CONFIG_MCP16502=y
CONFIG_MCP16502_SET_VOLTAGE=y
CONFIG_VOLTAGE_OUT4=1150
CONFIG_WDTS=y
